.fila-crear-cuenta{
	margin-top:10%;
}

.text-crear-cuenta{
	h1{
		margin-top: 15%;
	}
	h2{
		  font-family: "MuseoSans";
		  font-size: 27px;
	}
}

.p-cuenta{
	color: 	#C8C8C8;
}

.span-cuenta{
	margin-left: 60%;
	font-family: "MuseoSans";
	line-height: 2;
	letter-spacing: 1px;
}

.btn-cuenta{
	margin-left: 40%;
	margin-top: 5%;
	a{
		background-color: #FF6A49;
	  border-color: #ff5530;
	  font-size: 17px;
	  padding: 4% 15%;
	  border-radius: 15px;
	}
}


@media screen and (max-width: $screen-phone){
	.text-crear-cuenta{
		h1{
			color: grey;
			margin: 0;
		}
		h2{
			margin: 10% 0;
  		font-size: 20px;
		}
		.span-cuenta{
			margin-left: 25%;
		}
	}
	
	.btn-cuenta{
		margin-left: 0;
		a{
			padding: 5% 20%;
		}
	}
	.p-cuenta{
		padding: 3% 0;
		input{
			margin: 2% 0;
			font-size: 20px !important;
			font-family: "MuseoSans"
		}
	}
}