.text-ingresa-cuenta{
 margin: 0 5%;
}

.text-ingresa-cuenta{
	h1{
		margin-top: 22%;
	}
	input{
 		padding: 21px 0;
 }
 a{
 	background-color: #58C6E7;
 	border: 2px solid white;
 }
 p{
 	margin: 0 5%;
 }
}

.btn-ingresar-cuenta{
	z-index: 1;
}