.home-nosotros{
	background-image: url(../assets/img/img_nosotros-02.png);
	width: 100%;
	/*height: 100%;*/
	min-height: 560px;
	background-position: center;
	background-repeat: no-repeat;
}

.menu-nosotros{
	background-color: rgb(240, 251, 253);
}

.menu-fijo{
	margin-top: 6px;
}

.collapse{
	img{
		width: 8%;
		  margin: 13px 40px;
	}
}

.text-center-nosotros{
	padding-top: 5%;
	h3{
		font-size: 25px;
	}
}

/*SECCIÓN FUNDADORES*/
.fundadores{
	h1{
		margin-top: 5%;
	}
}

.fila-img-circular{
	margin-top: 5%;
	.col-fundadores{
		.img-fundadores{
			img{
				width: 170px;
				border-radius: 50%;
				padding: 2%;
				border: 2px solid grey;
			}
		}
		h3{
			margin: 0;
			padding: 0;
			margin-top: 5%;
		}
		p{
			font-weight: 600;
		}
		.text-parrafo{
			font-weight: 100;
			padding: 5% 9%;
		}
	}
}

/*SECCIÓN ASESORES*/
.asesores{
	h1{
		padding-top: 6%;
	  border-top: 2px dashed grey;
	  margin-top: 6%;
	}
} 

/*SECCIÓN TEST*/

.test-fila{
	padding-bottom: 5%;
}